@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Aplikacja webowa dla magazynu</h1>
    <p>Autor: Adrian Niemira</p>
</div>*@
<script type="text/javascript">
    window.location.href = "http://localhost:11533/Identity/Account/Login";
</script>
